- @sort ||= sort_value_latest_activity
.dropdown.js-project-filter-dropdown-wrap
  - toggle_text = projects_sort_options_hash[@sort]
  = dropdown_toggle(toggle_text, { toggle: 'dropdown' }, { id: 'sort-projects-dropdown' })
  %ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
    %li.dropdown-header
      排序：
    - projects_sort_options_hash.each do |value, title|
      %li
        = link_to filter_projects_path(sort: value), class: ("is-active" if @sort == value) do
          = title

    %li.divider
    %li
      = link_to filter_projects_path(archived: nil), class: ("is-active" unless params[:archived].present?) do
        隐藏归档的项目
    %li
      = link_to filter_projects_path(archived: true), class: ("is-active" if Gitlab::Utils.to_boolean(params[:archived])) do
        显示归档的项目
    %li
      = link_to filter_projects_path(archived: 'only'), class: ("is-active" if params[:archived] == 'only') do
        仅显示归档的项目
    - if current_user
      %li.divider
      %li
        = link_to filter_projects_path(personal: nil), class: ("is-active" unless params[:personal].present?) do
          属于任何人
      %li
        = link_to filter_projects_path(personal: true), class: ("is-active" if params[:personal].present?) do
          属于我
      - if @group && @group.shared_projects.present?
        %li.divider
        %li
          = link_to filter_projects_path(shared: nil), class: ("is-active" unless params[:shared].present?) do
            全部项目
        %li
          = link_to filter_projects_path(shared: 0), class: ("is-active" if params[:shared] == '0') do
            隐藏共享项目
        %li
          = link_to filter_projects_path(shared: 1), class: ("is-active" if params[:shared] == '1') do
            隐藏群组项目
