%tr
  %td
    #{Gitlab::Auth::OAuth::Provider.label_for(identity.provider)} (#{identity.provider})
  %td
    = identity.extern_uid
  %td
    = link_to edit_admin_user_identity_path(@user, identity), class: 'btn btn-xs btn-grouped' do
      编辑
    = link_to [:admin, @user, identity], method: :delete,
      class: 'btn btn-xs btn-danger',
      data: { confirm: "确定要删除此身份么？" } do
      删除
