= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :gitaly_timeout_default, '默认超时周期', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :gitaly_timeout_default, class: 'form-control'
        .help-block
          从 GitLab 应用调用 Gitaly 的超时设置（秒）。该超时并不强制 git fetch/push 操作或者 Sidekiq 任务。
    .form-group
      = f.label :gitaly_timeout_fast, '短超时周期', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :gitaly_timeout_fast, class: 'form-control'
        .help-block
          短操作的超时时间（秒）。有些 Gitaly 操作应当是比较快的。如果它们调用超过了这个阈值，可能分片存储出了问题。
          “尽早失败”可以帮助维护 GitLab 服务器的稳定性。
    .form-group
      = f.label :gitaly_timeout_medium, '中超时周期', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :gitaly_timeout_medium, class: 'form-control'
        .help-block
          中等操作的超时时间（秒）。这个数值应该介于短超时和默认超时之间。

  = f.submit '保存修改', class: "btn btn-success"
