%h3.page-title
  新建合并请求
%p.slead
  - source_title, target_title = format_mr_branch_names(@merge_request)
  从
  %strong.ref-name= source_title
  %span 合并到
  %strong.ref-name= target_title

  %span.pull-right
    = link_to '改变分支', mr_change_branches_path(@merge_request)
%hr
= form_for [@project.namespace.becomes(Namespace), @project, @merge_request], html: { class: 'merge-request-form form-horizontal common-note-form js-requires-input js-quick-submit' } do |f|
  = render 'shared/issuable/form', f: f, issuable: @merge_request, commits: @commits
  = f.hidden_field :source_project_id
  = f.hidden_field :source_branch
  = f.hidden_field :target_project_id
  = f.hidden_field :target_branch, id: ''

.mr-compare.merge-request.js-merge-request-new-submit{ 'data-mr-submit-action': "#{j params[:tab].presence || 'new'}" }
  - if @commits.empty?
    .commits-empty
      %h4
        没有提交。
      = custom_icon ('illustration_no_commits')
  - else
    %ul.merge-request-tabs.nav-links.no-top.no-bottom
      %li.commits-tab.active
        = link_to url_for(safe_params), data: {target: 'div#commits', action: 'new', toggle: 'tab'} do
          提交
          %span.badge= @commits.size
      - if @pipelines.any?
        %li.builds-tab
          = link_to url_for(safe_params.merge(action: 'pipelines')), data: {target: 'div#pipelines', action: 'pipelines', toggle: 'tab'} do
            流水线
            %span.badge= @pipelines.size
      %li.diffs-tab
        = link_to url_for(safe_params.merge(action: 'diffs')), data: {target: 'div#diffs', action: 'diffs', toggle: 'tab'} do
          变更
          %span.badge= @merge_request.diff_size

    .tab-content
      #commits.commits.tab-pane.active
        = render "projects/merge_requests/commits"
      #diffs.diffs.tab-pane
        -# This tab is always loaded via AJAX
      - if @pipelines.any?
        #pipelines.pipelines.tab-pane
          = render 'projects/merge_requests/pipelines', endpoint: url_for(safe_params.merge(action: 'pipelines', format: :json)), disable_initialization: true

  .mr-loading-status
    = spinner
