.tabs-holder
  %ul.pipelines-tabs.nav-links.no-top.no-bottom.mobile-separator
    %li.js-pipeline-tab-link
      = link_to project_pipeline_path(@project, @pipeline), data: { target: '#js-tab-pipeline', action: 'pipelines', toggle: 'tab' },  class: 'pipeline-tab' do
        = _("Pipeline")
    %li.js-builds-tab-link
      = link_to builds_project_pipeline_path(@project, @pipeline), data: { target: '#js-tab-builds', action: 'builds', toggle: 'tab' }, class: 'builds-tab' do
        = _("Jobs")
        %span.badge.js-builds-counter= pipeline.total_size
    - if @pipeline.failed_builds.present?
      %li.js-failures-tab-link
        = link_to failures_project_pipeline_path(@project, @pipeline), data: { target: '#js-tab-failures', action: 'failures', toggle: 'tab' }, class: 'failures-tab' do
          = _("Failed Jobs")
          %span.badge.js-failures-counter= @pipeline.failed_builds.count

.tab-content
  #js-tab-pipeline.tab-pane
    #js-pipeline-graph-vue

  #js-tab-builds.tab-pane
    - if pipeline.yaml_errors.present?
      .bs-callout.bs-callout-danger
        %h4 在您的 .gitlab-ci.yml 文件中发现以下错误:
        %ul
          - pipeline.yaml_errors.split(",").each do |error|
            %li= error
        您可以通过 #{link_to "Lint", project_ci_lint_path(@project)} 工具对 .gitlab-ci.yml 文件进行检测

    - if pipeline.project.builds_enabled? && !pipeline.ci_yaml_file
      .bs-callout.bs-callout-warning
        未在本次提交中找到 .gitlab-ci.yml 文件

    .table-holder.pipeline-holder
      %table.table.ci-table.pipeline
        %thead
          %tr
            %th 状态
            %th 作业 ID
            %th 名称
            %th
              %th 覆盖率
            %th
        = render partial: "projects/stage/stage", collection: pipeline.legacy_stages, as: :stage

  - if @pipeline.failed_builds.present?
    #js-tab-failures.build-failures.tab-pane
      - @pipeline.failed_builds.each_with_index do |build, index|
        .build-state
          %span.ci-status-icon-failed= custom_icon('icon_status_failed')
          %span.stage
            = build.stage.titleize
          %span.build-name
            = link_to build.name, pipeline_job_url(pipeline, build)
        %pre.build-log= build_summary(build, skip: index >= 10)
